<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="false" />
    <setting validateSqlMap="true" />
  </settings>

  <providers resource="../Query/providers.config"/>

  <database>
    <provider name="oracleClient4.0" />
    <dataSource name="UserData" connectionString="DATA SOURCE=172.16.0.32/ORCL;PERSIST SECURITY INFO=True;USER ID=MusicStore;PASSWORD=MusicStore;Unicode=true"/>
  </database>

  <sqlMaps>
    <!--在此注册SQLMAP XML 文件-->
    <sqlMap embedded="Query.OrderQueryService.xml" />
  </sqlMaps>
</sqlMapConfig>